@charset 'UTF-8';
@font-face
{
    font-family: HelverticaNeueBold;

    src: url('../fonts/helveticaneuecyr-bold.otf');
}

@font-face
{
    font-family: HelverticaNeueLight;

    src: url('../fonts/helveticaneuecyr-light.otf');
}

@font-face
{
    font-family: HelverticaNeueUltraLight;

    src: url('../fonts/helveticaneuecyr-ultralight.otf');
}

@font-face
{
    font-family: HelverticaNeue;

    src: url('../fonts/helveticaneuecyr-Roman.otf');
}

html,
body
{
    width: 100%; 
    height: 100%;
}

html,
body,
div,
ul,
li,
p,
spank
{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top: 0;
}

body
{
    background-color: #f9f9f9;
}

ul,
li
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: black;
}

/*--------- clear tag ---------*/
.clear-tag
{
    display: block;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}

.wrapper
{
    position: relative; 

    min-height: 100%;
}
.wrapper .block
{
    height: 80px;
}

/*--------- header ---------*/
.header
{
    position: relative;

    width: 100%;
    height: 100px;
    margin-bottom: 5px; 

    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}

.conteiner
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.conteiner::after,
.conteiner::before
{
    display: table;

    content: '';
}
.conteiner::after
{
    clear: both;
}

.header__logo,
.header__menu,
.header__links
{
    float: left;
}

/*--------- header logo ---------*/
.header__logo
{
    line-height: 100px; 

    position: relative;

    width: 20%;
    height: 100%;
}

.logo
{
    position: absolute;
    left: 0;
}

.logo__img
{
    font-size: 41pt; 

    vertical-align: middle;
}

/*--------- header menu ---------*/
.header__menu
{
    width: 62%;
    height: 100%;
}

.menu
{
    font-family: HelverticaNeueBold,Arial;
    font-size: 13pt;
    line-height: 100px;

    float: right;
    overflow: hidden; 

    width: 75%;
    padding-right: 30px;

    text-align: justify;
    text-transform: uppercase;
}
.menu::after
{
    font-size: 0;

    display: inline-block;

    width: 100%;
    height: 0; 

    content: '';
}
.menu::after
{
    font-size: 0; 
    line-height: 0;
}

.menu__item
{
    display: inline-block;
}

.menu__link
{
    color: #a7a7a7;
}
.menu__link:hover
{
    color: #a89574;
}

/*--------- header division ---------*/
.header_division
{
    position: absolute;
    top: 30px;
    bottom: 30px;

    display: inline-block;

    width: 1px;

    border-right: 1px solid #dedede;
}

/*--------- header links ---------*/
.header__links
{
    position: relative; 

    width: 18%;
    height: 100%;
}

.links
{
    position: absolute;
    top: 33px;
    right: 0; 
    bottom: 34px;
}

.links__item
{
    display: inline-block;
}

.links__img-link
{
    display: inline-block; 

    width: 30px;
    height: 30px;
}

.section-slider
{
    background-color: #2a2a2a;
}

.section-slider__slider
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto; 
    padding: 60px 0;
}
.section-slider__slider::after,
.section-slider__slider::before
{
    display: table;

    content: '';
}
.section-slider__slider::after
{
    clear: both;
}

/* ---------- slider text ---------- */
.slider__slider-text
{
    float: left; 

    width: 70%;
}

.slider-text__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 40pt;
    line-height: 45pt;

    margin-bottom: 50px; 

    color: #a59477;
}

.slider-text__scondary-title
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 18pt;
    line-height: 30pt;

    margin-bottom: 65px; 

    color: #a7a7a7;
}

.slider-text__but
{
    padding: 15px 25px;

    color: #a59477;
    border: 2px solid #a59477;
    border-radius: 5px;
}

/* ---------- slider img ---------- */
.slider__img
{
    float: right; 

    max-width: 30%;
    min-height: 385px;
}

/*--------- section intro ---------*/
.section-intro
{
    background-color: #f4f4f4;
}

.section-intro__intro
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto; 
    padding: 60px 0;
}
.section-intro__intro::after,
.section-intro__intro::before
{
    display: table;

    content: '';
}
.section-intro__intro::after
{
    clear: both;
}

/*--------- section intro-text ---------*/
.intro__intro-text
{
    margin-bottom: 45px;
}

.intro-text__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 20pt;

    margin-bottom: 30px; 

    color: #767676;
}

.intro-text__secondary
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 12pt;
    line-height: 12pt;

    color: #818181;
}

/*--------- section intro-buttons ---------*/
.intro__intro-buttons
{
    display: inline-block;
}

.intro-buttons__but
{
    margin-right: 10px; 
    padding: 15px 25px;

    border-radius: 5px;
}

.intro-buttons__but_gold
{
    color: #a59477;
    border: 2px solid #a59477;
}

.intro-buttons__but_red
{
    color: #a57780;
    border: 2px solid #a57780;
}

/* --------------- section process --------------- */
.section-process
{
    width: 100%;
}

.section-process__process
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.section-process__process::after,
.section-process__process::before
{
    display: table;

    content: '';
}
.section-process__process::after
{
    clear: both;
}

/* --------------- section process text --------------- */
.process__process-text
{
    padding: 60px 0 25px 0;
}

.process-text__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 16pt;

    margin-bottom: 30px;
    margin-bottom: 25px; 

    color: #767676;
}

.process-text__secondary
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 13pt;
    line-height: 20pt;

    color: #818181;
}

/* --------------- section process process-item --------------- */
.process__process-items
{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 30px; 

    text-align: justify;
}
.process__process-items::after
{
    font-size: 0;

    display: inline-block;

    width: 100%;
    height: 0; 

    content: '';
}

.process-item
{
    display: inline-block;

    width: 18%;

    text-align: center;
}
.process-item::after
{
    max-width: 13px;
    max-height: 9px;

    background-color: black; 
    background-image: url('../img/pointer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.process-item__img
{
    max-width: 90px;
    max-height: 90px;
    margin-bottom: 30px;
}

.process-item__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 11pt;

    margin-bottom: 30px;
    margin-bottom: 15px; 

    color: #767676;
}

.process-item__num
{
    color: #a59477;
}

.process-item__secondary
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 11pt;
    line-height: 16pt;

    color: #818181;
}

/* --------------- section portfolio --------------- */
.section-portfolio__portfolio
{
    width: 1170px;
    margin: 0 auto;
}

/* --------------- section portfolio text --------------- */
.portfolio__portfolio-text
{
    margin-bottom: 50px;
}

/* --------------- section portfolio items --------------- */
.portfolio__items
{
    width: 100%;
    padding-bottom: 50px;
}
.portfolio__items::after,
.portfolio__items::before
{
    display: table;

    content: '';
}
.portfolio__items::after
{
    clear: both;
}

.items__item
{
    float: left;

    width: 275px;
    margin-right: 15px;

    border: 1px solid #dedede;
}

.item__img-item
{
    max-width: 100%;
    height: 210px;

    border: 0 solid; 
    background: gray;
}

.text
{
    padding: 15px;
}

.item__text
{
    width: 100%;

    text-align: center;

    border-top: none;
}

.text__name,
.text__second-name
{
    font-size: 11pt;
}

.text__name
{
    font-family: HelverticaNeueBold;

    display: block;

    width: auto;
    margin: 0; 

    color: #767676;
}

.text__second-name
{
    font-family: HelverticaNeueLight; 

    color: #a59477;
}

/* --------------- Section Blog --------------- */
.section-blog__blog
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.section-blog__blog::after,
.section-blog__blog::before
{
    display: table;

    content: '';
}
.section-blog__blog::after
{
    clear: both;
}

.blog__posts,
.blog__about
{
    display: inline-block; 
    float: left;

    width: 47%;
}

.blog__posts
{
    margin-right: 2%;
}

.blog__about
{
    margin-left: 2%;
}

/* --------------- Headers --------------- */
.posts__header,
.about__header
{
    font-family: HelverticaNeueBold;
    font-size: 17pt; 

    color: #767676;
}

/* --------------- Section blog posts --------------- */
.posts-list__post
{
    float: left;

    margin-bottom: 45px;
}

/* --------------- Date --------------- */
.post__date
{
    display: inline-block; 

    width: 15%;
}

.date
{
    font-family: HelverticaNeueBold;
    font-size: 10pt;

    display: inline-block;

    width: 35px;
    height: 35px;
    padding: 15px;

    text-align: center;
    vertical-align: middle; 
    text-transform: uppercase;

    color: #a59477;
    border: 2px solid #a59477;
    border-radius: 35px;
}

.date__number
{
    font-size: 18pt; 

    display: block;
}

/* --------------- Text --------------- */
.post__post-text
{
    float: right;

    width: 85%;
}

.post-text__header
{
    margin-bottom: 5px;

    color: #767676;
}

.post-text__second-header
{
    font-weight: normal;

    margin-bottom: 10px;

    color: #a59477;
}

.post-text__likes::after
{
    content: '♥';
}

.post-text__text
{
    font-family: HelverticaNeue;
    font-size: 10pt;

    padding-bottom: 5px;

    color: #818181;
}

/* --------------- Style Button --------------- */
.post-text__read
{
    display: inline-block;

    padding: 10px 0;

    cursor: pointer; 

    color: #a59477;
    border: 0;
    outline: none;
    background-color: transparent;
}

/* --------------- Section Blog About --------------- */
.point::before
{
    content: '○ ';
}

.footer
{
    position: relative;

    width: 100%;
    height: 80px;
    margin-top: -80px;

    background-color: #333;
}
