@font-face
{
    font-family: HelverticaNeueBold;

    src: url('../fonts/helveticaneuecyr-bold.otf');
}

@font-face
{
    font-family: HelverticaNeueLight;

    src: url('../fonts/helveticaneuecyr-light.otf');
}

@font-face
{
    font-family: HelverticaNeueUltraLight;

    src: url('../fonts/helveticaneuecyr-ultralight.otf');
}

html,
body
{
    width: 100%; 
    height: 100%;
}

html,
body,
div,
ul,
li,
p
{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f9f9f9;
}

ul,
li
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: black;
}

/*--------- clear tag ---------*/
.clear-tag
{
    display: block;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}

.wrapper
{
    position: relative; 

    overflow: hidden;

    min-height: 100%;
}
.wrapper .block
{
    height: 80px;
}

/*--------- header ---------*/
.header
{
    position: relative;

    width: 100%;
    height: 100px;

    background-color: #fff;
}

.conteiner
{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.conteiner::after,
.conteiner::before
{
    display: table;

    content: '';
}
.conteiner::after
{
    clear: both;
}
@media (max-width: 1170px)
{
    .conteiner
    {
        max-width: 100%;
        margin: 0 10px;
    }
}

.header__logo,
.header__menu,
.header__links
{
    float: left;
}

/*--------- header logo ---------*/
.header__logo
{
    line-height: 100px; 

    position: relative;

    width: 35%;
    height: 100%;
}

.logo
{
    position: absolute;
    left: 0;
}

.logo__img
{
    font-size: 41pt; 

    vertical-align: middle;
}

/*--------- header menu ---------*/
.header__menu
{
    width: 45%;
    height: 100%;
}

.menu
{
    font-family: HelverticaNeueBold,Arial;
    font-size: 13pt;
    line-height: 100px;

    overflow: hidden; 

    padding-right: 30px;

    text-align: justify;
    text-transform: uppercase;
}
.menu::after
{
    display: inline-block;

    width: 100%;
    height: 0; 

    content: '';
}
.menu::after
{
    font-size: 0; 
    line-height: 0;
}

.menu__item
{
    display: inline-block;
}

.menu__link
{
    color: #a7a7a7;
}
.menu__link:hover
{
    color: #a89574;
}

/*--------- header division ---------*/
.header_division
{
    position: absolute;
    top: 30px;
    bottom: 30px;

    display: inline-block;

    width: 1px;

    border-right: 1px solid #dedede;
}

/*--------- header links ---------*/
.header__links
{
    position: relative; 

    width: 20%;
    height: 100%;
}

.links
{
    position: absolute;
    top: 33px;
    bottom: 34px;
    left: 30px;
}

.links__item
{
    display: inline-block;
}

.links__img-link
{
    display: inline-block;
    display: inline-block; 

    width: 30px;
    height: 30px;
}

.section-slider
{
    background-color: #2a2a2a;
}

.section-slider__slider
{
    width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}
.section-slider__slider::after,
.section-slider__slider::before
{
    display: table;

    content: '';
}
.section-slider__slider::after
{
    clear: both;
}
@media (max-width: 1210px)
{
    .section-slider__slider
    {
        max-width: 100%;
        margin: 0 10px;
    }
}

/* ---------- slider text ---------- */
.slider__slider-text
{
    float: left; 

    width: 70%;
}

.slider-text__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 40pt;
    line-height: 45pt;

    margin-bottom: 50px; 

    color: #a59477;
}

.slider-text__scondary-title
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 18pt;
    line-height: 30pt;

    margin-bottom: 65px; 

    color: #a7a7a7;
}

.slider-text__but
{
    padding: 15px 25px;

    color: #a59477;
    border: 2px solid #a59477;
    border-radius: 5px;
}

/* ---------- slider img ---------- */
.slider__img
{
    float: right; 

    max-width: 30%;
    min-height: 385px;
}

/*--------- section intro ---------*/
.section-intro
{
    background-color: #f4f4f4;
}

.section-intro__intro
{
    width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}
@media (max-width: 1210px)
{
    .section-intro__intro
    {
        max-width: 100%;
        margin: 0 10px;
    }
}

/*--------- section intro-text ---------*/
.intro__intro-text
{
    margin-bottom: 45px;
}

.intro-text__title
{
    font-family: HelverticaNeueBold, Arial;
    font-size: 20pt;

    margin-bottom: 30px; 

    color: #767676;
}

.intro-text__secondary
{
    font-family: HelverticaNeueLight, Arial;
    font-size: 12pt;
    line-height: 12pt;

    color: #818181;
}

/*--------- section intro-buttons ---------*/
.intro-buttons__but
{
    margin-right: 10px; 
    padding: 15px 25px;

    border-radius: 5px;
}

.intro-buttons__but_gold
{
    color: #a59477;
    border: 2px solid #a59477;
}

.intro-buttons__but_red
{
    color: #a57780;
    border: 2px solid #a57780;
}

.footer
{
    position: relative;

    width: 100%;
    height: 80px;
    margin-top: -80px;

    background-color: #333;
}
